.modal_cart {
  position: absolute;
  right: 0;
}

.modal_cart_body {
  width: 240px;
  background-color: white;
  box-shadow: 1px 0px 1px whitesmoke;
  border: 1px solid #ddd;
}

.modal_cart_header {
  padding: 8px 8px;
  border-bottom: 1px solid #ddd;
}

.item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.item:last-child {
  border: none;
}

.item_image {
  width: 54px;
  display: flex;
  align-items: center;
  object-fit: contain;
}

.item_image img {
  width: 100%;
}

.item_body {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 6px;
  justify-content: space-between;
}

.item-title {
  width: 100%;
}

.item_price {
  font-size: 0.8rem;
}

.item_quantity {
  font-size: 0.8rem;
}

.modal_cart span:global(.mini-clip) {
  clip: rect(-5px, 21px, 8px, -7px);
  display: inline-block;
  right: 3px;
  position: absolute;
  top: -7px;
  z-index: 1;
}

.modal_cart span:global(.mini-clip) span:global(.intern_body) {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.1rem;
  box-shadow: rgb(32 33 34 / 20%) -4px -4px 12px -5px;
  height: 16px;
  transform: rotate(45deg);
  width: 16px;
  display: block;
}
