.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
}

.nav_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
}

.nav_menu {
  color: black;
  width: 24px;
}

.action_cart {
  width: 24px;
}

.action_cart span:global(.cart-selected) {
  background-color: rgb(202, 33, 33);
  color: white;
  border-radius: 50%;
  font-size: 0.9rem;
  width: 2ch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 6px;
}
